<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--MySQL配置链接-->
    <add key="MySqlConn" value="SslMode=None;server=localhost;database=wcs;uid=root;pwd=root" />

    <!--入库最长等待时间（min）-->
    <add key="InTimeMax" value="30" />
    
    <!--初始化AGV卸货点-->
    <add key="AGVDropStation" value="FRT03" />

    <!--固定辊台&摆渡车&运输车对接点-->
    <add key="StandbyAR" value="5" />

    <!--摆渡车待命点1-->
    <add key="StandbyF1" value="2" />
    <!--摆渡车待命点2-->
    <add key="StandbyF2" value="8" />
    
    <!--运输车待命点1-->
    <add key="StandbyR1" value="001" />
    <!--运输车待命点2-->
    <add key="StandbyR2" value="241" />
    <!--运输车于运输车中间对接点-->
    <add key="StandbyRR" value="239" />
    
    <!--行车待命点1—X轴值-->
    <add key="StandbyA1" value="1" />
    <!--行车待命点2—X轴值-->
    <add key="StandbyA2" value="151" />
    <!--行车区域划分中间点X轴值-->
    <add key="CenterX" value="150" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>